/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --primary-color: rgba(29, 97, 84, 1);
  --secondary-color: rgba(255, 255, 255, 1);
  --tertiary-color: rgba(61, 61, 61, 1);
  --black-color: rgba(30, 30, 30, 1);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #fffef8;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav li a {
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

li a:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#my-works-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  justify-content: center;
  gap: 32px;
}

#my-works-container #edit-works-button {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  display: flex;
  opacity: 0;
}

#modal-header {
  background-color: white;
}

#modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 600px;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
}

#modal-title {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 28px;
  color: black;
  margin: 40px 0;
}

#modal-close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: black;
}

#item-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 4rem;
}

.modal-work-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.modal-work-item img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  aspect-ratio: 75 / 100;
}

.modal-delete-work-item-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  border: none;
  cursor: pointer;
  padding: 3px 5px;
}

.modal-delete-work-item-button i {
  color: white;
  background-color: black;
}

#modal-add-work-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 60px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  margin: 2rem auto;
  width: 100%;
  max-width: 300px;
  display: block;
}

.modal-add-work-button:hover {
  background-color: #0a6b5b;
}

figcaption {
  margin-top: 0.5em;
  font-family: "Work Sans";
  font-size: 13px;
  font-weight: 400;
  color: var(--tertiary-color);
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 3em;
  justify-content: center;
}

.category-label {
  border: 1px solid rgba(29, 97, 84, 1);
  border-radius: 60px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--primary-color);
  font-weight: 700;
}

.category-label.active {
  background-color: rgba(29, 97, 84, 1);
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
  max-width: 380px;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 100%;
}

#login {
  width: 50%;
  margin: 8rem auto;
  max-width: 380px;
}
#login > * {
  text-align: center;
}
#login h2 {
  margin-bottom: 20px;
}
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 100%;
}

#login input.error {
  outline: 1px solid red;
}

#login label {
  margin: 2em 0 1em 0;
}

#login .forgot-password-container {
  display: flex;
  justify-content: center;
}

#login .forgot-password {
  color: var(--tertiary-color);
  font-size: 14px;
}

#login small.error {
  color: red;
  font-size: 14px;
  margin-top: 1em;
  display: block;
  padding: 5px 10px;
  background-color: #ffebee;
  border-radius: 4px;
  border: 1px solid #ffcdd2;
}

input:focus {
  outline: 1px solid var(--primary-color);
  padding: 0 10px;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  padding: 0 20px;
  width: 180px !important;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  position: static;
  bottom: 0;
  right: 250px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

footer {
  margin-top: auto;
}

hr {
  width: 65%;
  background-color: #000;
}

/* Styles pour le formulaire d'ajout de photo */
#modal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
}

#image-preview-container {
  width: 420px;
  height: 169px;
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  border-radius: 3px;
}

#image-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e8f1f6;
}
#image-placeholder * {
  background: transparent;
}

#image-placeholder i {
  font-size: 58px;
  color: #b9c5cc;
  margin-bottom: 15px;
}

.custom-file-upload {
  background-color: #cbd6dc !important;
  color: #306685;
  padding: 10px 33px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Work Sans";
  font-size: 14px;
  margin-bottom: 7px;
}

.file-format {
  color: #444444;
  font-size: 10px;
}

#modal-file-input {
  display: none;
}

#image-preview {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 420px;
  margin: 0 auto;
  background-color: white;
}

.form-group label {
  color: #3d3d3d;
  font-family: "Work Sans";
  font-size: 14px;
  margin-bottom: 10px;
  background-color: white;
}

.form-group input,
.form-group select {
  height: 50px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0 10px;
  background-color: white;
}

#modal-form hr {
  width: 100%;
  margin: 20px 0;
}

#modal-submit-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 60px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  width: 100%;
  max-width: 237px;
}

#modal-submit-button:disabled {
  background-color: #a7a7a7;
  cursor: not-allowed;
}

#modal-header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}
